<ul id="contributors">
  <li><a href="http://goodonpaper.org">Andy McMillan</a></li>
  <li><a href="http://davidjrice.co.uk">David Rice</a></li>
  <li><a href="http://carisenda.com/">Stephen Stewart</a></li>
  <li><a href="http://twitter.com/davidbelfast">David Wilson</a></li>
</ul>
<p>Some of the code has been written during <a href="http://code4pizza.com">#code4pizza</a> evenings. Organised by <a href="http://cimota.com/blog/">Matt Johnston</a></p>

<h2>Data</h2>
<p><strong>JSON</strong> data is available after the hop</p>
<ul>
  <li><%= link_to "Areas", areas_path %></li>
  <li><%= link_to "Services", services_path %></li>
  <li><%= link_to "Routes", routes_path %></li>
  <li><%= link_to "Stops (EXAMPLE) 9A-Inbound", "/9/A/I/stops.json" %></li>  
</ul>

<h2>Examples</h2>
<ul>
  <li><%= link_to "Stops Map Example 9A-Inbound", "/9/A/I/maps" %></li>
  <li><a href="http://goodonpaper.org/sandbox/translink/">iPhone example</a> (external) prototype iPhone timetable</li>
</ul>