<%- content_for :js do -%>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<%= google_maps_include %>
<%- end -%>

<script>
  var map = null;

  function initialize() {
    if (GBrowserIsCompatible()) {
      map = new GMap2(document.getElementById("map_canvas"), {zoom: 16});
      map.setCenter(new GLatLng(54.596571, -5.930235), 13);
      map.addControl(new GSmallMapControl());
      map.addControl(new GMapTypeControl());
      
      var url_parts = document.URL.split("/");
      draw_route(url_parts[3],url_parts[4],url_parts[5]);
    }
  }
  
  function draw_stop(i, stop){
    stop = stop['stop']
    var latlng = new GLatLng(parseFloat(stop['lat']), parseFloat(stop['lon']));
    var marker = new GMarker(latlng, {title: stop['name']});
    map.addOverlay(marker);
    addDebugWindow(marker, stop, i);
  }
  
  function addDebugWindow(marker, stop, i){
    GEvent.addListener(marker, "click", function() {
      marker.openInfoWindow("#" + i + "<br />" + stop['name'] + '<br />' + stop['street']);
    });
  }
  
  function draw_route(area, service, route){
    $.getJSON('/'+area+'/'+service+'/'+route+'/stops.json', function(data) {
      $.each(data, function(i, item){
        draw_stop(i, item);
      });
    });
  }
  
  $(document).ready(function() {
    initialize();
  });
</script>


<h1>Metro Stops</h1>
<div id="map_canvas" style="width: 100%; height: 550px; display: block; margin-top:50px"></div> 
 

