<!DOCTYPE html>
<html>
<head>
  <title>Translink</title>
  <meta content="text/html;" charset="utf-8" http-equiv="Content-Type">
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" />
  
  <%= yield :js %>
</head>
<body>
  <p><a href="http://github.com/davidjrice/translink">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
  src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
  alt="Fork me on GitHub" /></a></p>
  <div id=header>
    <h1><a href="/">Translink</a></h1>
    <p>Open sourced geolocation</p>
  </div>
  
  <div id=content>
    <div id="preamble">
      <div class="sectionbody">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>